<div
      class="tab-pane fade"
      id="contact"
      role="tabpanel"
      aria-labelledby="contact-tab"
    >
      <form class="mt-3">
        <div class="card mb-3">
          <div class="card-header">
            <h5>Funciones Vitales</h5>
          </div>
          <div class="card-body">
            <div class="row row-cols-1 row-cols-md-4">
              <div class="col">
                <div class="form-group m-2">
                  <label for="exampleInputEmail1">Presión Arterial</label>
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      aria-label="Recipient's username"
                      aria-describedby="basic-addon2"
                    />
                    <div class="input-group-append">
                      <span class="input-group-text" id="basic-addon2"
                        >mm/Hg</span
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="form-group m-2">
                  <label for="exampleInputEmail1">Pulso</label>
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      aria-label="Recipient's username"
                      aria-describedby="basic-addon2"
                    />
                    <div class="input-group-append">
                      <span class="input-group-text" id="basic-addon2"
                        >/ min</span
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="form-group m-2">
                  <label for="exampleInputEmail1">Temperatura</label>
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      aria-label="Recipient's username"
                      aria-describedby="basic-addon2"
                    />
                    <div class="input-group-append">
                      <span class="input-group-text" id="basic-addon2">ºC</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="form-group m-2">
                  <label for="exampleInputEmail1">Frecuencia Cardiaca</label>
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      aria-label="Recipient's username"
                      aria-describedby="basic-addon2"
                    />
                    <div class="input-group-append">
                      <span class="input-group-text" id="basic-addon2"
                        >x min</span
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="form-group m-2">
                  <label for="exampleInputEmail1"
                    >Frecuencia Respiratoria</label
                  >
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      aria-label="Recipient's username"
                      aria-describedby="basic-addon2"
                    />
                    <div class="input-group-append">
                      <span class="input-group-text" id="basic-addon2"
                        >/ min</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-header">
            <h5>Peso - Talla</h5>
          </div>
          <div class="card-body">
            <div class="row row-cols-1 row-cols-md-3">
              <div class="col">
                <div class="form-group m-2">
                  <label for="exampleInputEmail1">Peso</label>
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      aria-label="Recipient's username"
                      aria-describedby="basic-addon2"
                    />
                    <div class="input-group-append">
                      <span class="input-group-text" id="basic-addon2"
                        >Kg.</span
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="form-group m-2">
                  <label for="exampleInputEmail1">Talla</label>
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      aria-label="Recipient's username"
                      aria-describedby="basic-addon2"
                    />
                    <div class="input-group-append">
                      <span class="input-group-text" id="basic-addon2">m.</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="form-group m-2">
                  <label for="exampleInputEmail1">IMC</label>
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      aria-label="Recipient's username"
                      aria-describedby="basic-addon2"
                    />
                    <div class="input-group-append">
                      <span class="input-group-text" id="basic-addon2"
                        >Kg/m.</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="exampleInputEmail1">Examen Clínico General</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="exampleInputEmail1">Examen Complementario</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="exampleInputEmail1">Odontoestomatológico</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
              </div>
            </div>
          </div>
      </form>
    </div>