<div class="container">
    <div class="row justify-content-center mt-5" style="margin-top: 90px !important;">
        <div class="col-md-6">
            <div class="shadow card">
                <div class="card-body">
                    <h5 class="card-title">Registro de usuarios</h5>
                    <hr />
                    <form [formGroup]="accountForm"> 
                        <div class="form-group">
                            <label for="exampleDropdownFormEmail3">Alias</label>
                            <input type="text" class="form-control" id="displayName" formControlName="displayName" placeholder="Nickname" required>
                          </div>
                          <div class="form-group">
                            <label for="dni">DNI</label>
                            <input oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                            maxlength="8" type="number" class="form-control" id="dni" formControlName="dni" placeholder="DNI" required>
                          </div>
                        <div class="form-group">
                            <label for="exampleDropdownFormEmail2">Correo Electrónico</label>
                            <input type="email" class="form-control" id="exampleDropdownFormEmail2" formControlName="email" placeholder="email@example.com" required>
                          </div>
                          <div class="form-group">
                            <label for="password">Contraseña</label>
                            <input type="password" class="form-control" id="password" formControlName="password" placeholder="Contraseña" required>
                          </div>
                        <hr>
                        <button type="button" class="btn btn-primary btn-block" [disabled]="!accountForm.valid" (click)="onRegister()">
                            Registrar
                        </button><br>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>